body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

/* 
html {
  background: white;
  filter: invert(1) hue-rotate(180deg);
}


img {
  filter: invert(1) hue-rotate(-180deg) !important;
} */